/**
 * Globals
 */

//  $color_suny_red: #D60036;
//  $color_suny_blue: #4B68C5;
//  $color_warm_red: #EA7F9A;
//  $color_dark_gray: #494949;
//  $color_warm_gray: #75746f;
//  $color_smoke_gray: #DDDDDB;
$color_yellow: #F9ED69;
$color_orange: #F08A5D;
$color_brown: #B83B5E;
$color_blue: #6A2C70;
$color_dark: #222831;
$color_dark2: #394A51;
$color_gray: #BBDED6;
$color_gray2: #ECF0F1;
$imgpath: '~/img/bg.jpg';


